.home-product-card {
  background: #f9fafb;
  border-radius: 16px;
  padding: 14px;
  display: flex;
  gap: 14px;
  align-items: center;

  cursor: pointer;
  transition: all 0.3s ease;
}

.home-product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 35px rgba(0, 0, 0, 0.12);
}

/* Image */
.home-product-image {
  width: 56px;
  height: 56px;
  border-radius: 14px;
  object-fit: cover;
}

/* Info */
.home-product-info h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.home-product-info p {
  font-size: 12px;
  color: #6b7280;
}
